.input {
  border: none;
  background: none;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  font-family: "Source Sans 3", sans-serif;
  border-bottom: 1px solid rgb(83, 85, 83);
  width: 100%;
  color: white;
}

.input-title {
  font-size: 32px;
}

.invalid {
  border: 1px solid red;
  background: red;
}
